.stud {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: palevioletred;
    font-size: xx-large;
}

.container {
    border: 2px solid black;
    height:500px;
    width:500px;
    margin:100px 200px 100px 200px;
}