.body {
    margin: 0;
    padding: 0;

}

.stud {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8b5e34;
    font-size: xx-large;
}


.container {
    border: 2px solid #c9a46b;
    height: 50px;
    width: 50px;
    margin: 100px 200px;
    background-color: #f1d8b9;
    padding: 20px;
    color: #7a5a37;


}


.signup-container {
    height: 100vh;
    background-color: #e4c49b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assestsss/image.png);
}

.signup {
    border: 2px solid #b8956b;
    height: 600px;
    width: 500px;
    background-color: #f6e0c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    box-shadow: 0px 8px 30px rgba(128, 90, 50, 0.35);
    border-radius: 15px;
}


.data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.data input {
    border: 1px solid #c39563;
    border-radius: 20px;
    height: 28px;
    width: 80%;
    padding: 8px;
    background-color: #f8ead7;
    outline: none;
}

.data input:focus {
    border: 2px solid #a66e3f;
}

.data label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #7a5129;
}

.but {
    background-color: #d39b65;
    display: flex;
    width: 80%;
    justify-content: center;
    color: rgb(222, 153, 42);
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}

.but:hover {
    background-color: #b37a45;
}


.hov a {
    color: #5a3e1d;
    text-decoration: none;
}

.hov a:hover {
    text-decoration: underline;
}


.login-container {
    height: 100vh;
    background-color: #e2c6a3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assests/image.png);
}

.login {
    border: 2px solid #c29a66;
    height: 500px;
    width: 500px;
    background-color: #f5debc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    box-shadow: 0px 8px 30px rgba(130, 90, 48, 0.35);
    border-radius: 15px;
    backdrop-filter: blur(10px);

}

.header-container {
    background-color: #cd8f4b;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    align-items: center;
    padding: 15px;
}

.logo-image {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

.head-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.head-items li {
    list-style: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.outer {
    height: 500px;
    width: 500px;
    background-color: #4e3823;
    position: relative;
    top: 50px;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: #c07f3a;
    position: absolute;
    bottom: 0;
}

.head-container {
    height: 100px;
}